/client/node_modules
/server/node_modules
/server/.env
/client/package-lock.json
/server/package-lock.json
/server/uploads
/client/App.test
/client/logo.svg
/client/reportWebVitals.js
/client/setupTests.js
/client/README.md
